
header {

    padding-top: 20px;

    background-color: #7A9D96;

}

header img {

    float: none; 

    position: relative;

    left: 9px;

    border: 7px solid #FFFFFF;

    border-radius: 7px;
}

body {

    background-color: #FFFFFF;

    padding: 0px; 

    margin: 0px;

    font-family: 'Poppins', sans-serif;

}

/*#CAE4DB
#DCAE1D*/

/*header img {

    border: 7px solid #FFFFFF;

    border-radius: 5px;

}*/

.logodiv {

    padding-right: 20px;
    
}

header h1 {

    padding-left: 0px;
    
    text-align: center;

    position: relative;

    top: 10px;

}

header h3 {

    padding-left: 0px;

    position: relative;

    bottom: 10px;

    left: 37px;

}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Vidaloka', serif;

    color: #00303F;

}

.logoflex {

    display: flex;

    align-items: center; 

    justify-content: center;

    max-width: 960px;

    margin-left: auto; 

    margin-right: auto;

    flex-direction: row;

}

nav ul {

    display: flex; 

    align-items: center; 

    justify-content: center;

    list-style: none; 

    flex-direction: column; 

    padding-left: 0px;
}

.navigation li {

    display: none; 

}

.navigation li:first-child {

    display: block; 

    background-color: #00303F;

}

a.menubutton:link {

    color: #FFFFFF;

}

a.menubutton:visited {

    color: #FFFFFF;

}

a.menubutton:hover {

    color: #FFFFFF;

}

a.menubutton:active {

    color: #FFFFFF;

}

nav {

    background-color: #CAE4DB;

    min-height: 50px;
}

nav li {

    width: 100%;

    display: flex;

}

nav a {

    text-decoration: none; 

    display: block;

    padding: 1em; 

    text-align: center;

}

nav a:link {

    color: #00303F;

}

nav a:visited {

    color: #00303F;

}

nav a:hover {

    color: #CAE4DB;

    background-color: #00303F;

}

nav a:active {

    color: #CAE4DB;

    background-color: #00303F;

}

a.currentpage:link {

    color: #00303F;

    background-color: #7A9D96;

}

a.currentpage:visited {
    
    color: #00303F;

    background-color: #7A9D96;
    
}

a.currentpage:hover {
    
    color: #00303F;

    background-color: #7A9D96;
    
}

a.currentpage:active {
    
    color: #00303F;

    background-color: #7A9D96;
    
}

footer {

    background-color: #CAE4DB;

    height: 80px;

    position: absolute; 

    bottom: 0px; 

    left: 0px; 

    right: 0px; 

    color: #00303F;

    text-align: center; 

    padding-top: 40px; 

    max-width: 960px;

    margin-left: auto;

    margin-right: auto;

}

.footercentering {

    max-width: 960px; 

    margin-left: auto; 

    margin-right: auto; 

}

.wrapper {

    min-height: calc(100vh - 200px);

    padding-bottom: 200px; 

    position: relative; 

}

main {

    max-width: 960px; 

    margin-left: auto; 

    margin-right: auto; 

}

.bodycontent {

    font-style: italic;

    padding-top: 10px; 

    padding-bottom: 10px;
    
    border: 1px dashed #00303F;

    margin-top: 8px; 

    margin-bottom: 8px;

    padding-left: 10px; 

    color: #00303F;

    background-color: #CAE4DB;

    margin-left: 10px;

    margin-right: 10px;

}

main h2 {

    text-align: center; 

}

.responsive li {

    display: block;

}