@media (min-width: 992px)
{

    .centered-floating-text {

        padding: 30px;

    }
        
    .single-temple-info-text-div {
    
        padding-top: 5%;

        font-size: 1em;
    
    }

}