@media (min-width: 768px)
{

    .body-content-div {

        max-width: 992px;

        margin-left: auto;

        margin-right: auto;

    }

    nav ul {
        
        max-width: 992px;

        flex-direction: row;
    
    }

}