:root {

    --header-background-color: #534A3C;

    --header-text-color : #FFFFFF;

    --footer-background-color: #534A3C;

    --footer-text-color : #FFFFFF;

    --navbar-background-color: #A0AC60;

    --navbar-text-color: #FFFFFF;

    --navbar-hover-active-color: #534A3C;

    --navbar-curent-page-text-color: #A0AC60;

    --navbar-curent-page-text-hover-color: #FFFFFF;

    --navbar-curent-page-background-color: #534A3C;

    --main-background-color: #FFFFFF;

    --main-text-color: #534A3C;

    --main-alternate-text-color: #FFFFFF;

    --main-alternate-background-color: #A0AC60;

    --that-one-purple: #330E1F;

    --body-background-color: #534A3C;

    --floating-reservation-text-color: #FFFFFF;

    --temple-info-link-color: #DED2A8;

}



body {

    font-family: 'Quicksand', sans-serif;

    /*background-color: var(--body-background-color);*/

}



h1, h2, h3, h4, h5, h6 {

    font-family: 'Alice', serif;

}



header h2 {

    margin-bottom: 0;

}



header {

    background-color: var(--header-background-color);

    color: var(--header-text-color);

    padding-top: 30px;

    padding-bottom: 30px;

}

.logo-title-div {

    max-width: 700px;

    margin-left: auto;

    margin-right: auto;

    display: flex;

    flex-direction: column;

    justify-content: center;

    text-align: center;

}



.site-logo {

    max-width: 200px;

}

.title-heading-div h1 {

    /*padding-top: 40px;*/

}



nav {

    background-color: var(--navbar-background-color);

    color: var(--navbar-text-color);

    /* display: flex;

    align-items: center; 

    justify-content: center; */

    font-size: 1.25em;

}



nav ul {

    max-width: 768px;

    display: flex; 

    align-items: center; 

    justify-content: center;

    text-align: center;

    list-style: none; 

    flex-direction: column; 

    padding-left: 0px;

    margin-top: 0px;

    margin-bottom: 0px;

}



nav li {

    width: 100%;

    display: flex;

}



nav a {

    display: block;

    transition-duration: 1s;

    text-decoration: none;

    padding: 1em;

    padding-left: 2.5em;

    padding-right: 2.5em;

}



nav a:link {

    color: var(--navbar-text-color);

}



nav a:visited {

    color: var(--navbar-text-color);
    
}



nav a:hover {

    color: var(--navbar-hover-active-color);
    
}



nav a:active {

    color: var(--navbar-hover-active-color);
    
}



a.current-page:link {

    background-color: var(--navbar-curent-page-background-color);

    color: var(--navbar-curent-page-text-color);

}

a.current-page:visited {

    background-color: var(--navbar-curent-page-background-color);

    color: var(--navbar-curent-page-text-color);

}

a.current-page:hover {

    background-color: var(--navbar-curent-page-background-color);

    color: var(--navbar-curent-page-text-hover-color);

}

a.current-page:active {

    background-color: var(--navbar-curent-page-background-color);

    color: var(--navbar-curent-page-text-hover-color);

}



main {

    background-color: var(--main-background-color);

    color: var(--main-text-color);

}



.banner-floating-text-container {

    position: relative;

    text-align: center;

}


.centered-floating-text {

    position: static;

    /* background-color: rgba(83, 74, 60, 1); */

    /* max-width: 400px; */

    text-align: center;

    box-sizing: border-box;

    padding: 30px;
    
    text-decoration: none;

    color: var(--floating-reservation-text-color);

    font-size: 1.1em;

}

.centered-floating-text div {

    background-color: rgba(83, 74, 60, 1);

    max-width: 400px;

    margin-left: auto;

    margin-right: auto;

    padding-top: 30px;

    padding-bottom: 30px;

    margin-top: 60px;

}


.centered-floating-text a:link {

    color: var(--floating-reservation-text-color);

}

.centered-floating-text:visited {

    color: var(--floating-reservation-text-color);

}

.centered-floating-text:hover {

    color: var(--floating-reservation-text-color);

}

.centered-floating-text:active {

    color: var(--floating-reservation-text-color);

}




.banner-image {

    display: none;

}



.about-text-div {

    padding-top: 30px;

    padding-bottom: 30px;

}



.temple-summary-div {

    display: flex;

    flex-direction: column;

}

.temple-summary-div div {

    width: 100%;

}

.temple-summary-photo-div img {

    max-width: 100%;

    margin-bottom: -3px;

}



.temple-summary-text-div {

    /*max-height and overflow are your friends*/

    background-color: var(--main-alternate-background-color);

    color: var(--main-alternate-text-color);

    border-bottom: 3px solid #FFFFFF;

}

.temple-summary-text-div h2, .temple-summary-div p {

    padding-left: 25px;

    padding-right: 25px;

}





.contact-information-div {

    margin-top: 50px;

    display: flex;

    padding-bottom: 50px;

    flex-direction: column;

}


.contact-information-div div {

    width: 100%;

}




footer {

    background-color: var(--footer-background-color);

    color: var(--footer-text-color);

    text-align: center;

    padding-top: 20px;

    padding-bottom: 20px;

}


.temple-summary-photo-div img {

    width: 100%;

}


.single-temple-info-container-div {

    max-width: 992px;

    margin-left: auto;

    margin-right: auto;

}

.single-temple-info-container-div {

    display: flex;

    flex-direction: column;

    margin-bottom: 0px;

}

.single-temple-info-image-div {

    width: 100%;

    margin-bottom: -3px;

}

.single-temple-info-image-div img {

    width: 100%;

}

.single-temple-info-text-div {

    width: 100%;

    text-align: center;

    background-color: var(--main-alternate-background-color);

}



.single-temple-info-text-div a {

    color: var(--main-text-color);

}

.single-temple-info-text-div a:link {

    color: var(--main-text-color);

}

.single-temple-info-text-div a:visited {

    color: var(--main-text-color);

}

.single-temple-info-text-div a:hover {

    color: var(--temple-info-link-color);

}

.single-temple-info-text-div a:active {

    color: var(--temple-info-link-color);

}

.single-temple-info-image-div img {

    max-width: 100%;

}


.color-highlight {

    color: var(--main-text-color);

}



.click-text:before {

    color: var(--main-text-color);
    content: "Click ";

}



.tooltip {
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {

    width: 200px;
    background-color: var(--body-background-color);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    top: 100%;
    left: 40%;
    
}


.tooltiphide {

    visibility: hidden;
    display: none;

}

.tooltipshow {

    visibility: visible;
    display: inline;

}

.no-list-style {

    list-style: none;

}

.temple-info-page-container-div {

    margin-top: 60px;

    margin-bottom: 60px;

    color: #FFFFFF;
    
    max-width: 992px;

    margin-left: auto;

    margin-right: auto;

}

.remove-top-margin-h2 {

    margin-top: 0px;

}

.temple-quote {

    font-size: 2em;

}

.temple-quote-div {

    max-width: 500px;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 60px;

}



hr {

    height: 6px;

    color: var(--main-alternate-background-color);

    background-color: var(--main-alternate-background-color);

    border-color: var(--main-alternate-background-color);

    max-width: 30px;

    margin-left: 0px;

    border: 0px;

}

.temple-page-title {

    margin-top: 60px;

    max-width: 992px;

    margin-left: auto;

    margin-right: auto;

}

.tagline {

    -webkit-animation: fade 3s;
    -moz-animation: fade 3s;
    -ms-animation: fade 3s;
    -o-animation: fade 3s;
    -animation: fade 3s;

}

@keyframes fade{

    from { opacity: 0; }

    to { opacity: 1; }
    
}

@-moz-keyframes fade {

    from { opacity: 0; }

    to { opacity: 1; }

}

@-webkit-keyframes fade {

    from { opacity: 0; }

    to { opacity: 1; }

}

@-ms-keyframes fade {

    from { opacity: 0; }

    to { opacity: 1; }

}

@-o-keyframes fade {

    from { opacity: 0; }

    to { opacity: 1; }

}

.navigation li {

    display: none; 

}

.navigation li:first-child {

    display: block; 

}

.responsive li {

    display: block;

}

.service-body-text {

    max-width: 992px;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 60px;

}

.reservation-body-text {

    max-width: 992px;

    margin-left: auto;

    margin-right: auto;

}

.reservation-form-input-div {

    padding: 10px;

    color: var(--temple-info-link-color)

}

textarea {

    width: 100%;

}

.reservation-form {

    background-color: var(--body-background-color);

    border-radius: 10px;

    padding: 20px;

    margin-bottom: 60px;

    font-size: 1.3em;

}

.reservation-form-fieldset {

    color: var(--main-alternate-background-color);

    padding-top: 10px;

    padding-bottom: 10px;

    margin-top: 20px;

    margin-bottom: 20px;

    border: 2px solid var(--main-alternate-background-color);

    border-radius: 4px;

}

.reservation-form-class {

    color: var(--main-alternate-background-color);

    padding-left: 10px;

    padding-right: 10px;

}

#submit-button {

    background-color: var(--main-alternate-background-color);

    color: #FFFFFF;

    border: none;

    border-radius: 5px;

    padding: 10px;

    padding-left: 20px;

    padding-right: 20px;

    margin-top: 20px;

    margin-bottom: 20px;

}

#submit-button:hover {

    background-color: var(--main-alternate-background-color);

    color: var(--main-text-color);

}

.reservation-body-text h2 {

    margin-top: 60px; 

}

.service-body-text h2 {

    margin-top: 60px; 

}

.weird-reservation-form-spacing {

    margin-bottom: 60px;

}

#temple-entry-link:link {

    color: var(--main-alternate-background-color);

}

#temple-entry-link:visited {

    color: var(--main-alternate-background-color);

}

#temple-entry-link:hover {

    color: var(--main-text-color);
    
}

#temple-entry-link:active {

    color: var(--main-text-color);
    
}

.reservation-form-input-div input, .reservation-form-input-div select, .reservation-form-input-div textarea {

    border-radius: 8px;

}

.reservation-quote {

    font-size: 2em;

}

.reservation-quote-div {

    max-width: 500px;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 60px;

}

.contact-main-div {

    max-width: 992px;

    margin-left: auto;

    margin-right: auto;

}

address {

    font-style: normal;

}

.contact-email-div {

    margin-bottom: 60px;

}

.contact-map-div {

    margin-bottom: 60px;

    width: 100%;

}

.contact2-information-div {

    width: 100%;

}

.contact-map-flex-div {

    display: flex;

    flex-direction: column;

}

.contact-main-div h2 {

    margin-top: 60px;

}

.contact2-information-div p {

    padding-right: 30px;

}

.contact-form-heading {

    margin-top: 30px!important;

}

.contact-form-hr {

    margin-bottom: 30px;

}

.contact2-information-div a:link {

    color: var(--main-alternate-background-color);

}

.contact2-information-div a:visited {

    color: var(--main-alternate-background-color);

}

.contact2-information-div a:hover {

    color: var(--main-text-color);

}

.contact2-information-div a:active {

    color: var(--main-text-color);

}

.service-body-text a:link {

    color: var(--main-alternate-background-color);

}

.service-body-text a:visited {

    color: var(--main-alternate-background-color);

}

.service-body-text a:hover {

    color: var(--main-text-color);

}

.service-body-text a:active {

    color: var(--main-text-color);

}





.services-flex-div {

    display: flex;

    flex-direction: column;

}

.services-flex-text-div {

    width: 100%;

    background-color: var(--main-alternate-background-color);

    color: #FFFFFF;

    box-sizing: border-box;

    padding: 50px;

}

.services-flex-image-div {

    width: 100%;

}

.services-flex-image-div img {

    width: 100%;

}

.service-body-text hr {

    margin-bottom: 30px;

}


.thanks-body-div {

    max-width: 992px;

    margin-left: auto;

    margin-right: auto;

    margin-top: 100px;

    margin-bottom: 300px;

}

.thanks-image-div {

    max-width: 200px;

    margin-left: auto;

    margin-right: auto;

}

.thanks-image-div img {

    width: 100%;

}

.thanks-text-div {

    text-align: center;

    font-size: 2em;

}