body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 50%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
}

nav a {
    text-decoration: none;
}

#color1 {
    background-color: #CAE4DB;
    width: 50px;
    height: 50px;
}

#color2 {
    background-color: #DCAE1D;
    width: 50px;
    height: 50px;
}

#color3 {
    background-color: #00303F;
    width: 50px;
    height: 50px;
}

#color4 {
    background-color: #7A9D96;
    width: 50px;
    height: 50px;
}

#bodycopyfont {
    font-family: 'Poppins', sans-serif;
}

#headingfont {
    font-family: 'Vidaloka', serif;
}

@media (min-width: 32.5em) 
{
    nav ul {
        flex-direction: row;
        margin-left: 0px;
    }

    nav li {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*@media (min-width: 60em) 
{

}*/